.circular-selector {
    /* NOTE: height, width, top and left are dynamically set via js */
    position: absolute;
    padding: 0;
    max-width: 200px;
    max-height: 200px;
    list-style: none;
}

.circular-selector li {
    background-color: #A5E2F3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circular-selector li a {
    display: block;
    width: 100%;
    height: 100%;
}

.circular-selector .selected-tool {
    background-color: lightgreen;
}

.selector-entry {
    position: absolute;
    right: 15%;
    top: 20%;
    text-align: center;
}

.selector-entry img {
    width: 25px;
    height: 25px;
}

.hidden-selector {
    display: none;
}

.inactive {
    opacity: 0.4;
}
