html, body {
  height: 100%;
  background: #3f3f3c;
  color: #D2D2D2;
}

.navbar-header {
    width: 150px;
    background-image: url('../img/logo-dark.png');
    background-repeat: no-repeat;
    background-position: center;
}

#menu-bar {
  background: #3f3f3c;
}

.navbar-default {
  border-color: #3f3f3c;
}

.navbar-brand {
    visibility: hidden;
}

.navbar-default {
  color: #DDD;
}

.navbar-default .navbar-nav > li > a {
  color: #DDD;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #0CF;
}

.dropdown-menu {
    background-color: #3f3f3f;
}

.dropdown-menu > li > a {
    color: #FFFAFA;
}

.side-panel, .canvas-wrapper {
  border: 2px solid #515151;
}

.tool-widget-wrapper, .option-widget-wrapper, .color-picker-widget-wrapper {
  border: 2px solid #515151;
}

#canvas-area {
  background-color: #696969;
}

.circular-selector li {
  background-color: #555;
}

.circular-selector .selected-tool {
  background-color: #656565;
}

.tool-entry {
  color: #3C3C3C;
}

.color-item input {
  color: black;
}

.ef-ruler .top {
    color: #DDD;
    background-color: #3f3f3c;
    border-bottom: 1px solid #DDD;
}

.ef-ruler .left {
    color: #DDD;
    background-color: #3f3f3c;
    border-right: 1px solid #DDD;
}

.ef-ruler .corner {
    background-color: #3f3f3c;
    border-right: #3f3f3c;
    border-bottom: #3f3f3c;
}

.ef-ruler .tick {
    background-color: #DDD;
}

.ef-ruler .top-line {
    border-left: 1px solid #DDD;
}

.ef-ruler .left-line {
    border-top: 1px solid #DDD;
}

#tool-selector li .selector-entry {
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}

/* tool images */

#tool-selector li[data-entry="brush"] .selector-entry {
	background: url('../img/icon/dark/brush.png') no-repeat;
}

#tool-selector li[data-entry="eraser"] .selector-entry {
	background: url('../img/icon/dark/eraser.png') no-repeat;
}

#tool-selector li[data-entry="airbrush"] .selector-entry {
	background: url('../img/icon/dark/airbrush.png') no-repeat;
}

#tool-selector li[data-entry="filler"] .selector-entry {
	background: url('../img/icon/dark/filler.png') no-repeat;
}

#tool-selector li[data-entry="picker"] .selector-entry {
	background: url('../img/icon/dark/picker.png') no-repeat;
}

/* hint images */

#tool-selector-hint {
    background: url('../img/hint/dark/rot1.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#option-selector-hint {
    background: url('../img/hint/dark/rot2.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#color-picker-selector-hint {
    background: url('../img/hint/dark/rot3.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#input-selector-hint {
    background: url('../img/hint/dark/rot4.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* afford images */

#tool-afford {
    background: url('../img/afford/dark/r5.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#option-afford {
    background: url('../img/afford/dark/r2.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#color-picker-afford {
    background: url('../img/afford/dark/h.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#input-afford {
    background: url('../img/afford/dark/c.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
