html, body {
    height: 100%;
}

.row {
    margin: 0 !important; /* overriding bootstrap's negative margin (wtf?) */
}

.body-wrapper {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}

.side-panel, .canvas-wrapper {
    border: 1px solid lightgrey;
    position: absolute;
    top: 0;
    bottom: 0;
}

.side-panel {
    left: 0;
    width: 25%;
    min-width: 335px;
    min-height: 600px;
}

.canvas-wrapper {
    right: 0;
    padding-right: 0;
    padding-left: 0;
    width: 75%;
}

.tool-widget-wrapper, .option-widget-wrapper, .color-picker-widget-wrapper {
    margin: 5px !important;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 32%;
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
}

.tool-widget-wrapper {
    top: 0;
}

.option-widget-wrapper {
    top: 33%;
}

.color-picker-widget-wrapper {
    top: 66%;
}

/* a class is used here because a lower precedence than id is needed, in order
 * to be able to override the opacity value adding another class */
.selector-hint {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.4;
}

/* this class is toggled to control the opacity */
.highlighted-selector {
    opacity: 1;
}

.inactive-button {
    opacity: 0.4;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.dropdown {
    cursor: default;
}
