.tool-selector {
    list-style: none;
    position: relative;
    margin: 20px auto;
    padding: 0;
    width: 200px;
    height: 200px;
}

.tool-selector li {
    background-color: #A5E2F3; /* TEMP */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.tool-selector li a {
    display: block;
    width: 100%;
    height: 100%;
}
.tool-selector li:hover {
    background-color: green;
}

.tool-entry {
    position: absolute;
    right: 15%;
    top: 30%;
    color: blue;
    font-size: 25px;
}
