.navbar-header{
color:#10102B;
}

#tool-selector {
    /* NOTE: height, width, top and left are dynamically set via js */
    position: absolute;
    padding: 0;
    max-width: 200px;
    max-height: 200px;
    list-style: none;
}

#tool-selector li {
    background-color: #1A4969; /* TEMP */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#tool-selector li a {
    display: block;
    width: 100%;
    height: 100%;
}

#tool-selector .selected-tool {
    background-color: #157A8C;
}

.tool-entry {
    position: absolute;
    right: 15%;
    top: 20%;
    color: blue;
    font-size: 25px;
}
