.navbar-header {
    width: 150px;
    background-image: url('../img/logo-white.png');
    background-repeat: no-repeat;
    background-position: center;
}
.navbar-brand {
    visibility: hidden;
}

.bucket{
	content:url('../icon/light/stock-tool-bucket-fill-22.png');
  width:22px;
  height:22px;
}
.eraser{
	content:url('../icon/light/stock-tool-eraser-22.png');
  width:22px;
  height:22px;
}
.paintbrush{
	content:url('../icon/light/stock-tool-paintbrush-22.png');
  width:22px;
  height:22px;
}
.airbrush{
	content:url('../icon/light/stock-tool-airbrush-22.png');
  width:22px;
  height:22px;
}
.colorpicker{
	content:url('../icon/light/stock-tool-color-picker-22.png');
  width:22px;
  height:22px;
}

/*  for firefox compatibility */

.bucket::after{
	content:url('../icon/light/stock-tool-bucket-fill-22.png');
  width:22px;
  height:22px;
}
.eraser::after{
	content:url('../icon/light/stock-tool-eraser-22.png');
  width:22px;
  height:22px;
}
.paintbrush::after{
	content:url('../icon/light/stock-tool-paintbrush-22.png');
  width:22px;
  height:22px;
}
.airbrush::after{
	content:url('../icon/light/stock-tool-airbrush-22.png');
  width:22px;
  height:22px;
}
.colorpicker::after{
	content:url('../icon/light/stock-tool-color-picker-22.png');
  width:22px;
  height:22px;
}
